/* google Fontes Inter */
/* font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
    /* Color */
    --color-background-body: #E5E5E5;
    --color-background-aside: #fff;
    --color-background-icons-social: #FFB400;
    --color-background-icons-social-hover:#ff7b00dc;
    --color-background-icons-nav: #F0F0F6;
    --color-bagkroundd-hover-nav: #FFB400;
    --color-text-card:#2B2B2B;

    /* Spaces */
    --aside-width: 300px;

    /* fonts sizes */
    --text-cards-titles:  1.025rem;
    --text-cards-subtitles: 0.738rem;

    /* bootstrap custum */
    --bs-primary-rgb: 255, 180, 0;
}
*{
    padding: 0;
    margin: 0;

}

.text-medium{
    font-weight: 500;
}

.bg-background-light{
    background: var(--color-background-aside)!important;
}


body{
    font-family: 'Inter', sans-serif;
    background-color: var(--color-background-body);
    display: flex;

}

aside{
    width: var(--aside-width);
    height: fit-content;
    background-color: var(--color-background-aside);

}

.icon{
    width: 24px;
    height: 24px;
}

.px-14{
    width: 14px;
    height: 14px;
}

.color-bg-icons-social{
    background-color: var(--color-background-icons-social);
}

.row{
    --bs-gutter-x: 0;
}

span{
    width: 100%;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

span div{
    background-color: var(--color-background-icons-social);
    height: 100%;
    
}

.progress{
    --bs-progress-bar-bg: var(--color-background-icons-social);
    
}

.radius{
    border: 1px var(--color-background-icons-social) solid;
    border-radius: 16px;
    padding: 1px;
}
ul{
    margin: 0;
    padding-block-start: 0;
    padding-left: inherit;
}

li{
    list-style-image: url('./assets/images/list.svg');  

}

.btn-cv{
    --bs-btn-color: #000;
    --bs-btn-bg: var(--color-background-icons-social);
    --bs-btn-border-color: var(--color-background-icons-social);
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: var(--color-background-icons-social-hover);
    --bs-btn-hover-border-color: var(--color-background-icons-social-hover);
    --bs-btn-focus-shadow-rgb: 11,172,204;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: var(--color-background-icons-social);
    --bs-btn-active-border-color: var(--color-background-icons-social);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #0dcaf010;
    --bs-btn-disabled-border-color: #0dcaf011;
}

.hero{
    background-image: url('./assets/images/background.svg');
    width: auto;
}

.my-6{
    margin-top: 5rem!important;
    margin-bottom: 3rem!important;
}

nav{
    background-color: var(--color-background-aside);
    height: 100%;
}

.list-group-bg{
    background-color: var(--color-background-icons-nav);
}

.bg-light{
    background-color: var(--color-background-icons-nav) !important;
}

.card h4{
    font-size: var(--text-cards-titles);
    color: var(--color-text-card);
}

.card h5 {
    font-size: var(--text-cards-subtitles);
    color: var(--color-text-card);
}

.list-style-check{
    list-style-image: url(./assets/images/list-check.svg) !important;
}

.list-style-uncheck{
    list-style-image: url('./assets/images/list-uncheck.svg') !important;
}

.fs-small{
    font-size: small;
}
.fs-smaller{
    font-size: smaller;
}
.fs-medium{
    font-size: medium;
}